body {
    background-image: url('../assets/index/html5-index-background.jpg');
    background-size: auto;
    background-repeat: repeat;
}

.principal {
    background-color: antiquewhite;
    margin-top: 30px;
    padding: 30px;
}

a {
    text-decoration: none;
}
